@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.dragIcon {
  cursor: move;
}

.bgHover {
  background: rgba(0, 0, 0, 0.3);
}

.helpMessage {
  color: white;
  margin-bottom: 8px;
}

.flexColumn {
  flex-direction: column;
}

.content {
  cursor: pointer;
}

.black {
  color: #222;
}

.loginBg {
  background: url("./assets/images/bg.jpg") !important;
  background-size: cover !important;
}
