@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.no-select {
  user-select: none;
  pointer-events: none;
}

.dragIcon {
  cursor: move;
}

.bgHover {
  background: rgba(0, 0, 0, 0.3);
}
